.history
.vscode
**/content/node
**/content/node_modules
**/content/target
## **/content/src/main/content/jcr_root/etc/clientlibs/shop_ford/sfi/dist
**/content/src/main/content/jcr_root/etc/designs/shop_ford/sfi/clientlibs/dist
**/bundle/target/*
**/bundle-install/target
**/.classpath
**/content/dll-manifest-lock.json
*.iml
*.idea
.project
.settings
npm-debug.log
.DS_Store
**/.vlt
**/testcontent/**
**/content/coverage/
bundle/target/*